<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/ad-head.ejs') %>
    <title>
        Admin - <%= pageTitle %>
    </title>
</head>
   

<body>
    <%- include('include/ad-navbar.ejs') %>


    <%- include('include/ad-footer.ejs') %>
   
</body>

</html>