<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>
        Admin - <%= pageTitle %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
   

<body>
    <%- include('include/ad-navbar.ejs') %>


    <%- include('include/ad-footer.ejs') %>
   
</body>

</html>