<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
        crossorigin='anonymous'>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
  <nav class="text-black bg-green-400">
      <div class="mx-auto flex flex-row justify-between text-center align-items-center">
          <a class="bg-white py-2 rounded-full px-3 border-2 border-black ml-2 hover:no-underline " href="/">
              <i class="fas fa-home"></i>
              <span class=""> ความคืบหน้าของเมืองที่ได้รับตราสัญลักษณ์</span>
          </a>
          
          <div class="bg-white rounded-bl-full px-3 mb-1 " id="navbarNavDropdown">
              <ul class="ml-auto flex flex-row text-center align-items-center ">
                  <li class="text-transparent">
                      <img src="/img/favii.png" alt="Description of the image" class=" h-16 rounded-full">
                  </li>
                  <% if (!isAuthenticated) { %>
                  <li>
                      <a class="bg-green-300 p-3 rounded-full hover:bg-green-500 hover:no-underline hover:text-white duration-100" href="/login">
                          SIGN IN
                      </a>
                  </li>
                  <% } else { %>
                  <li>
                      <form action="/logout" method="POST" >
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="bg-red-300 p-3 rounded-full hover:bg-red-500 hover:text-white hover:no-underline duration-100">
                              Log out
                          </button>
                      </form>
                  </li>
                  <% } %>
              </ul>
          </div>
      </div>
  </nav>
</body>

</html>
