<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <nav class="bg-teal-500 text-black grid grid-cols-12 grid-rows-1 items-center p-0 h-16 shadow-md h-8 min-w-dvh ">
    <a href="/"
    class="flex row-span-1 col-span-4 md:col-span-3 items-center text-center justify-center bg-[#DDB433] rounded-full px-3 py-2 ml-2 hover:bg-yellow-300 text-black hover:no-underline hover:text-white">
    <i class="fas fa-home"></i>
    <span class="ml-2 hidden md:block">depa - Smart City Overview on Real-time Evaluation</span>
    <span class="ml-2 block md:hidden">d-SCORE</span>
    </a>
    <div class="row-span-1 col-span-5 md:col-span-7"></div>
    <div class="row-span-1 col-span-3 md:col-span-2 grid grid-cols-3 grid-rows-1 py-3 pl-5 items-center  md:bg-white rounded-bl-3xl text-center">
      <div class="hidden md:block col-span-2 row-span-1">
        <img src="/img/navpic.png" class="w-72">
      </div>
      <% if (!isAuthenticated) { %>
        <div class="md:col-span-1 col-span-3 row-span-1 bg-[#DDB433]  py-2 rounded-xl text-white">
          <a 
            href="/login">SIGN IN</a>
        </div>
        <% } else { %>
          <div class="md:col-span-1 col-span-3 row-span-1 bg-[#DDB433]  py-2 rounded-xl text-white">
            <form action="/logout" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button
                >LOGOUT</button>
            </form>
          </div>
          <% } %>
    </div>
    
    
  </nav>
</body>

</html>
<!-- <nav class="bg-teal-500 text-black flex justify-between items-center p-0 h-16 shadow-md">
  <a href="/"
    class="flex items-center bg-[#DDB433] rounded-full px-3 py-2 ml-2 hover:bg-yellow-300 text-black hover:no-underline hover:text-white">
    <i class="fas fa-home"></i>
    <span class="ml-2 hidden md:block">depa - Smart City Overview on Real-time Evaluation</span>
    <span class="ml-2 block md:hidden">d-SCORE</span>
  </a>
  <div id="menu" class="items-center md:bg-white md:w-auto md:h-auto md:py-1 md:rounded-bl-3xl">

    <ul class="flex flex-col md:flex-row md:items-center md:space-x-5 mr-5 ">
      <li class="hidden md:block"><img src="/img/navpic.png" class="w-72"></li>
      <% if (!isAuthenticated) { %>
        <li class="my-2 md:my-0">
          <a class="btn bg-[#DDB433] px-3 py-2 rounded-xl text-white transition duration-300 hover:bg-yellow-300"
            href="/login">SIGN IN</a>
        </li>
        <% } else { %>
          <li class="my-2 md:my-0">
            <form action="/logout" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button
                class="btn bg-[#DDB433] px-3 py-2 mb-[-1rem] rounded-xl text-white transition duration-300 hover:bg-yellow-300">Log
                out</button>
            </form>
          </li>
          <% } %>
    </ul>
  </div>
</nav> -->