<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <nav class="bg-teal-500 text-black grid grid-cols-12 grid-rows-1 items-center p-0 h-16 shadow-md h-8 min-w-dvh overflow-hidden">
    <a href="/"
    class="flex row-span-1 col-span-4 sm:col-span-4 sm:text-md  lg:col-span-3 lg: items-center text-center justify-center bg-[#DDB433] rounded-full px-3 py-2 ml-2 hover:bg-yellow-300 text-black hover:no-underline hover:text-white">
    <svg class="w-6 lg:mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
    <div class="text-left hidden lg:block"> 
      <div class="text-xl ">Smart City Pulse</div>
        <div class="text-xs font-light">Smart City Pulse : Dynamic Project Tracker</div>
      </div>
      <span class="ml-2 block lg:hidden">Smart City Pulse</span>
    </div>
   
    </a>
    <div class="row-span-1 col-span-3 lg:col-span-5"></div>
    <div class="row-span-1 col-span-1 lg:col-span-1 hidden lg:block"></div>

    <div class="row-span-1 col-span-4 lg:col-span-3 grid grid-cols-4 grid-rows-1 py-3 pl-5 items-center  lg:bg-white rounded-bl-3xl text-center ">
      
      <div class="hidden lg:block col-span-2 row-span-1 mx-2">
        <img src="/img/navpic.png" class="w-72">
      </div>
      <div class="text-[#14B8A6]">นครราชสีมา</div>
      <!-- <div class="flex mx-2">
        <div class="mr-2"><i class="fa-solid fa-user" style="color: #14b8a6;"></i></div>
        <div class="text-[#14B8A6]">นครราชสีมา</div>
      </div> -->
      <% if (!isAuthenticated) { %>
        <div class="lg:col-span-1 col-span-3 row-span-1 bg-[#DDB433]  py-2 rounded-xl text-white">
          <a 
            href="/login">SIGN IN</a>
        </div>
        <% } else { %>
          <div class="lg:col-span-1 col-span-3 row-span-1 bg-[#DDB433]  py-2 rounded-xl text-white">
            <form action="/logout" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button
                >LOGOUT</button>
            </form>
          </div>
          <% } %>
    </div>
    
    
  </nav>
</body>

</html>
<!-- <nav class="bg-teal-500 text-black flex justify-between items-center p-0 h-16 shadow-md">
  <a href="/"
    class="flex items-center bg-[#DDB433] rounded-full px-3 py-2 ml-2 hover:bg-yellow-300 text-black hover:no-underline hover:text-white">
    <i class="fas fa-home"></i>
    <span class="ml-2 hidden md:block">depa - Smart City Overview on Real-time Evaluation</span>
    <span class="ml-2 block md:hidden">d-SCORE</span>
  </a>
  <div id="menu" class="items-center md:bg-white md:w-auto md:h-auto md:py-1 md:rounded-bl-3xl">

    <ul class="flex flex-col md:flex-row md:items-center md:space-x-5 mr-5 ">
      <li class="hidden md:block"><img src="/img/navpic.png" class="w-72"></li>
      <% if (!isAuthenticated) { %>
        <li class="my-2 md:my-0">
          <a class="btn bg-[#DDB433] px-3 py-2 rounded-xl text-white transition duration-300 hover:bg-yellow-300"
            href="/login">SIGN IN</a>
        </li>
        <% } else { %>
          <li class="my-2 md:my-0">
            <form action="/logout" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button
                class="btn bg-[#DDB433] px-3 py-2 mb-[-1rem] rounded-xl text-white transition duration-300 hover:bg-yellow-300">Log
                out</button>
            </form>
          </li>
          <% } %>
    </ul>
  </div>
</nav> -->