<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- เพิ่ม stylesheet ของ Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 p-4">
    <h1 class="text-2xl mb-4">KPI</h1>
    <!-- วนลูปเพื่อแสดง input ด้วยข้อมูล KPI และใช้ Tailwind CSS -->
    <form action="/admin/saveKpi/<%=solutionID %>"> 
      <% kpi.forEach(function(item) { %>
      <input
        id="<%= item.kpiID %>"
        value="<%= item.kpiName %>"
        class=" "
      />
      <br />
      <% }); %>
      <input type="submit" value="ส่งการแก้ไข">
    </form>
  </body>
</html>
