<footer id="footer" class="page-footer font-small">
    <div class="footer-copyright text-center py-3">
        <small>
            Copyright © 2024. All Right Reserved | Digital Economy Promotion Agency
            <br><i class="fas fa-code"></i> Developed by Digital Platform and Service Promotion Department
        </small>
    </div>
</footer>